<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="~/Asset/css/style.css">
</head>
<body>
 
    <div class="container">
        <header class="header">
            <div class="logo">
                <h3 style="display: inline;">Korean Food Quản Lý</h3>
            </div>
            <nav class="navigation">
                <ul>
                    <li><a asp-controller="ThongKe" asp-action="Index">Thông Kê</a></li>
                    <li><a asp-controller="MAccounts" asp-action="Index">Tài khoản</a></li>
                    <li><a asp-controller="Products" asp-action="ProductList">Sản Phẩm</a></li>
                    <li><a asp-controller="Category" asp-action="CateList">Loại Sản Phẩm</a></li>

                    <li><a href="#">Đơn hàng</a></li>
                    <li><a href="#">Khách hàng</a></li>
                    <li><a href="#">Chi nhánh</a></li>
                    <li><a asp-controller="Coupons" asp-action="ListCoupon">Mã giảm giá</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </nav>
            <div class="user-profile">
                <span>@Context.User.Identity.Name</span>
                <ul>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </header>
    </div>
    <div style="min-height:700px">
        

        @RenderBody()
    </div>
   @* <footer class="footer">
        <p>&copy; Popeyes Admin</p>
    </footer>*@
    @RenderSection("Scripts", required: false)
</body>
</html>